@import 'reset-css/reset.css';

//fonts
@mixin fontRegular() {
  font-family: 'Literata', serif;
  font-weight: 400;
}

@mixin fontBold() {
  font-family: 'Literata', serif;
  font-weight: 700;
}

@import './assets.scss';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.01);
}

::selection {
  background: rgba(18, 36, 129, 0.99);
  color: var(--c-background);
  text-shadow: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  @include fontRegular;

  font-size: 1vw;
}

body {
  font-size: var(--s-text);
  line-height: var(--s-line-height);
  color: var(--c-text);
  overflow-x: hidden;
  padding: var(--s-gutter);
  box-sizing: border-box;
  background-color: var(--c-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include fontBold();

  margin-bottom: var(--s-margin-bottom-h);
}

h2 {
  font-size: var(--s-text-h2);
}

h3 {
  font-size: var(--s-text-h3);
}

p {
  margin-bottom: var(--s-margin-bottom-p);

  &:last-child {
    margin-bottom: 0;
  }
}

b,
strong {
  @include fontBold();
}

a {
  color: var(--c-text);
  text-decoration: underline;
  transition: opacity ease-out 0.15s;

  &:hover {
    opacity: 0.5;
  }
}

.logo {
  font-size: var(--s-text-logo);

  &__subline {
    @include fontRegular();

    font-size: var(--s-text-s);
    position: relative;
    top: calc(var(--s-text-logo) * -0.35);
    left: calc(var(--s-text-logo) * 0.25);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--s-gutter) * 0.75);

  @include viewport('mobile-layout') {
    display: block;
    margin-top: calc(var(--s-gutter) * 1.5);
  }
}

.navigation {
  margin-top: 0.75em;

  @include viewport('mobile-layout') {
    margin-top: calc(var(--s-gutter) * 2);
    position: absolute;
  }
}

.navigation-link {
  @include fontBold();

  margin-left: 1.5em;
  text-decoration: none;

  @include viewport('mobile-layout') {
    display: table;
    margin-left: 0;
    margin-bottom: 0.25em;
  }

  &.is-current {
    background-color: black;
    color: white;
  }
}

.languages {
  --m-x: calc(var(--s-gutter) * 1);
  --m-y: calc(var(--s-gutter) * 0.25);

  position: absolute;
  top: var(--m-y);
  right: var(--m-x);
}

.language-link {
  font-size: var(--s-text-s);
  text-decoration: none;
  margin-left: 0.5em;

  &.is-active {
    @include fontBold();

    pointer-events: none;
  }
}

.illustration {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: var(--s-gutter);
  pointer-events: none;

  @include viewport('mobile-layout') {
    position: relative;
    padding: 0;
    height: 60vh;
    overflow: hidden;
    margin-top: var(--s-gutter);

    &::after {
      content: "";
      position: absolute;
      width: 100%;
      height: 1px;
      bottom: 0;
      background-color: var(--c-text);
      opacity: 0.25;
    }
  }

  @include viewport('mobile-l') {
    height: 55vh;
  }

  @include viewport('mobile') {
    height: 45vh;
  }

  &.is-fixed {
    position: fixed;
    top: 0;
  }

  &__container {
    --s-float-x: 1.5%;
    --s-float-y: 0.3%;
    --pos-x: -15%;

    width: 30vw;
    max-width: 568px;
    margin: 0 auto;
    transform: translate3d(var(--pos-x), 0, 0);

    @include viewport('tablet') {
      width: 25vw;
    }

    @include viewport('mobile-layout') {
      --pos-x: 0;

      width: 50%;
    }

    @include viewport('mobile-l') {
      margin: 0;
      margin-left: 40%;
    }

    @include viewport('mobile') {
      margin-left: 50%;
    }
  }

  &__bg-image {
    width: 100%;
    height: auto;
  }

  &__eye {
    position: absolute;
    width: 8.7%;
    top: 9.9%;
    left: 51.5%;
  }

  &__eye-img {
    position: absolute;
    display: none;
    width: 100%;
    height: auto;

    &.is-displayed {
      display: block;
    }
  }
}

.background {
  position: fixed;
  z-index: -1;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  visibility: hidden;
  opacity: 0;
  transition: opacity linear 0.25s;
  will-change: opacity;

  &.is-visible {
    opacity: 1;
    visibility: visible;
  }
}

.content {
  position: relative;
  margin-top: calc(var(--s-gutter) * 4);
  padding-bottom: calc(var(--s-gutter) * 2);
  box-sizing: border-box;

  @include viewport('mobile-layout') {
    margin-top: var(--s-gutter);
    padding-bottom: var(--s-gutter);
  }
}

.content-section {
  @include viewport('mobile-layout') {
    margin-bottom: calc(var(--s-gutter) * 2);
  }
}

.content-bit {
  --s-w: 37vw;

  position: relative;
  scroll-margin-top: 4em;
  width: calc(var(--s-w) - var(--s-gutter) * 2);

  @include viewport('tablet-s') {
    width: 100%;
    margin-bottom: var(--s-margin-bottom-p);

    &:last-of-type {
      margin-bottom: 0;
    }
  }

  &--right {
    position: relative;
    margin-left: auto;
    margin-right: 0;
  }

  h3 {
    margin-top: 4em;
  }
}

.contact {
  display: flex;

  @include viewport('mobile') {
    display: block;
  }

  &__image {
    --s: calc(var(--s-gutter) * 3);

    width: var(--s);
    height: var(--s);
    margin-right: calc(var(--s-gutter) * 0.75);
    align-self: center;
    border-radius: 100%;
    overflow: hidden;

    @include viewport('tablet') {
      --s: calc(var(--s-gutter) * 2.5);

      align-self: normal;
    }

    @include viewport('mobile-layout') {
      --s: calc(var(--s-gutter) * 3.5);

      align-self: center;
    }

    @include viewport('mobile') {
      margin-bottom: var(--s-gutter);
    }
  }

  &__image-el {
    width: 100%;
  }

  &__text {
    align-self: center;
    margin-top: -1em;
  }
}

.credits {
  font-size: var(--s-text-s);
  margin-top: calc(var(--s-gutter) * 5);
}

.content-enter-active {
  transition: transform var(--e-inout) 0.5s, opacity linear 0.5s;
}

.content-enter {
  transform: translateX(-4em);
  opacity: 0;
}

.content-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.img-to-load {
  opacity: 0;
  transition: opacity linear 2s;

  &.loaded {
    opacity: 1;
  }
}

.transition {
  &__bg {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    will-change: transform;
  }
}

.transition-enter-active {
  transition: transform var(--e-inout) 0.5s, background-color linear 0.5s;
  transform-origin: top left;
}

.transition-leave-active {
  transition: transform var(--e-inout) 0.5s, background-color linear 0.5s;
  transform-origin: top right;
}

.transition-enter {
  transform: scaleX(0);
  background-color: rgba(0, 0, 0, 0);
}

.transition-enter-to {
  transform: scaleX(1);
}

.transition-leave {
  transform: scaleX(1);
}

.transition-leave-to {
  transform: scaleX(0);
  background-color: rgba(0, 0, 0, 0);
}

.browser-warning {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  box-sizing: border-box;
  padding: var(--s-gutter);
  background-color: var(--c-background);

  &__infos {
    margin-top: calc(var(--s-gutter) * 2);
  }
}
