@import 'reset-css/reset.css';

//fonts
@mixin fontRegular() {
  font-family: 'Literata', serif;
  font-weight: 400;
}

@mixin fontBold() {
  font-family: 'Literata', serif;
  font-weight: 700;
}

@import './assets.scss';

* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0.01);
}

::selection {
  background: rgba(18, 36, 129, 0.99);
  color: var(--c-background);
  text-shadow: none;
}

html,
body {
  height: 100%;
  min-height: 100%;
}

html {
  @include fontRegular;

  font-size: 1vw;
}

body {
  font-size: var(--s-text);
  line-height: var(--s-line-height);
  color: var(--c-text);
  overflow-x: hidden;
  padding: var(--s-gutter);
  box-sizing: border-box;
  background-color: var(--c-background);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  @include fontBold();

  margin-bottom: var(--s-margin-bottom-h);
}

h2 {
  font-size: var(--s-text-h2);
}

h3 {
  font-size: var(--s-text-h3);
}

p {
  margin-bottom: var(--s-margin-bottom-p);

  &:last-child {
    margin-bottom: 0;
  }
}

b,
strong {
  @include fontBold();
}

a {
  color: var(--c-text);
  text-decoration: underline;
  transition: opacity ease-out 0.15s;

  &:hover {
    opacity: 0.5;
  }
}

.logo {
  font-size: var(--s-text-logo);

  &__subline {
    @include fontRegular();

    font-size: var(--s-text-s);
    position: relative;
    top: calc(var(--s-text-logo) * -0.35);
    left: calc(var(--s-text-logo) * 0.25);
  }
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: calc(var(--s-gutter) * 0.75);
}

.navigation {
  margin-top: 0.5em;
}

.navigation-link {
  @include fontBold();

  margin-left: 1.5em;
  text-decoration: none;

  &.is-current {
    background-color: black;
    color: white;
  }
}

.languages {
  --m-x: calc(var(--s-gutter) * 1);
  --m-y: calc(var(--s-gutter) * 0.25);

  position: absolute;
  top: var(--m-y);
  right: var(--m-x);
}

.language-link {
  font-size: var(--s-text-s);
  text-decoration: none;
  margin-left: 0.5em;

  &.is-active {
    @include fontBold();

    pointer-events: none;
  }
}

.illustration {
  position: absolute;
  top: 0;
  width: 100%;
  padding-top: 10vh;
  padding-bottom: var(--s-gutter);
  pointer-events: none;

  &.is-fixed {
    position: fixed;
    top: 0;
  }

  &__container {
    --s-float-x: 1%;
    --s-float-y: 0.3%;
    --pos-x: -15%;

    width: 30vw;
    margin: 0 auto;
    animation: floating 10s linear both infinite;
  }

  @keyframes floating {
    0%,
    100% {
      transform: translate3d(calc(var(--pos-x) + var(--s-float-x) * -1), calc(var(--s-float-y) * 1), 0);
    }

    50% {
      transform: translate3d(calc(var(--pos-x) + var(--s-float-x) * 1), calc(var(--s-float-y) * -1), 0);
    }
  }

  &__bg-image {
    width: 100%;
    height: auto;
  }

  &__eye {
    position: absolute;
    width: 8.7%;
    top: 9.9%;
    left: 51.5%;
  }

  &__eye-img {
    position: absolute;
    display: none;
    width: 100%;
    height: auto;

    &.is-displayed {
      display: block;
    }
  }
}

.content {
  position: relative;
  margin-top: calc(var(--s-gutter) * 2);
  padding-bottom: calc(var(--s-gutter) * 2);
  box-sizing: border-box;
}

.content-bit {
  --s-w: 37vw;

  position: relative;
  scroll-margin-top: 4em;
  width: calc(var(--s-w) - var(--s-gutter) * 2);

  &--right {
    position: relative;
    margin-left: auto;
    margin-right: 0;
  }
}

.contact {
  display: flex;

  &__image {
    flex-basis: 40%;
    align-self: center;
    border-radius: 100%;
    overflow: hidden;
  }

  &__image-el {
    width: 100%;
  }

  &__text {
    align-self: center;
    padding-left: calc(var(--s-gutter) * 0.75);
    margin-top: -1em;
  }
}

.content-enter-active {
  transition: transform var(--e-inout) 0.5s, opacity linear 0.5s;
}

.content-enter {
  transform: translateX(-4em);
  opacity: 0;
}

.content-enter-to {
  transform: translateX(0);
  opacity: 1;
}

.img-to-load {
  opacity: 0;
  transition: opacity linear 2s;

  &.loaded {
    opacity: 1;
  }
}

.footer {
  margin-top: 2em;
}

.transition {
  &__bg {
    position: fixed;
    z-index: 1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 1);
    will-change: transform;
  }
}

.transition-enter-active {
  transition: transform var(--e-inout) 0.5s, background-color linear 0.5s;
  transform-origin: top left;
}

.transition-leave-active {
  transition: transform var(--e-inout) 0.5s, background-color linear 0.5s;
  transform-origin: top right;
}

.transition-enter {
  transform: scaleX(0);
  background-color: rgba(0, 0, 0, 0);
}

.transition-enter-to {
  transform: scaleX(1);
}

.transition-leave {
  transform: scaleX(1);
}

.transition-leave-to {
  transform: scaleX(0);
  background-color: rgba(0, 0, 0, 0);
}
